*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cadetblue;
  }
  
  .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* text-align: center; */
    background-color: cadetblue;
  }

  
  